


<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            Create New Customer
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-warning" ng-show="warning">
                        <div class="panel-heading">Please fill out these fields.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel  panel-success" ng-show="success">
                        <div class="panel-heading">Customer Added Successfuly !!!</div>
                    </div>
                </div>
            </div>
            <form id="customerForm" name="customerForm" class="form-horizontal" role="form">
                <br/>
                <label class="label label-primary control-label large" style="font-size: 100% !important;">Customer Name </label>
                <div style="margin-bottom: 25px;   margin-top: 10px;" class="input-group">

                    <input id="custName" type="text" class="form-control" name="custName" value="" placeholder="Customer Name" ng-model="newCust.name" ng-focus="removeErrorMsg()">
                </div>
                <label class="label label-info control-label large" style="font-size: 100% !important;">City </label>
                <div style="margin-bottom: 25px;  margin-top: 10px;" class="input-group">
                    <input id="custCity" type="text" class="form-control" name="custCity" value="" placeholder="City" ng-model="newCust.city" ng-focus="removeErrorMsg()">
                </div>

                <button class="btn btn-success" ng-click="createCustomer()">Add <span class="glyphicon glyphicon-plus"></span></button>

            </form>
        </div>
    </div>

</div>